<?xml version="1.0" encoding="utf-8" ?>
<goose version="1.0=">
  <action on="save">
    <!-- relative path from the project directory to the working directory of the command -->
    <working-directory>Build</working-directory>
    <command>$now = Get-Date ; Add-Content build.log "Last build: $now"</command>
  </action>
</goose>
