<?xml version="1.0" encoding="utf-8" ?>
<goose version="1.0">
  <action on="save" glob="*.cs">
    <working-directory></working-directory>
    <command>Start-Sleep -s 7</command>
  </action>
  <action on="save" glob="*.cs">
    <working-directory></working-directory>
    <command>Start-Sleep -s 3</command>
  </action>
  <action on="save" glob="*.cs">
    <working-directory></working-directory>
    <scope>file</scope>
    <command>ls {file-path}</command>
  </action>
  <action on="save" glob="*\versionbump.txt">
    <working-directory></working-directory>
    <command>
      $manifest = "source.extension.vsixmanifest.debug"
      [xml]$document = Get-Content $manifest

      $version = $document.Vsix.Identifier.Version
      $versionParts = $version.Split(".")
      $versionParts[-1] = ($versionParts[-1] -as [int]) + 1

      $document.Vsix.Identifier.Version = [string]::Join(".", $versionParts)
      $manifestPath = Join-Path $(Get-Location) $manifest
      $document.Save($manifestPath)
    </command>
  </action>
</goose>
