<?xml version="1.0" encoding="utf-8" ?>
<on-save-action>
  <!-- relative path from the project directory to the Build directory -->
  <working-directory>Build</working-directory>
  <powershell-command>$now = Get-Date ; Add-Content build.log "Last build: $now"</powershell-command> 
</on-save-action>
  